#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #002459;
  --color-blue: #28abff;
  --color-white: #ffffff;
  --color-accent: #f2af5c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*Navigation bar*/

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-self: center;
}

.nav-bar a {
  font-size: 0.833rem;
}

.main-logo {
  height: 35px;
  width: auto;
}

.ctaBtn {
  background-color: var(--color-blue);
  font-size: 0.833rem;
  padding: 0.6em 1.6em;
  border-radius: 18px;
}

/*Center grid*/

/*Footer*/
.Ft {
  padding: 0.5em 0;
  border-top: 1px solid lightslategrey;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}

footer a {
  font-size: 0.833rem;
  color: lightslategrey;
}

footer svg {
  color: var(--color-white);
  padding: 0 0.2rem;
  visibility: hidden;
}
