#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #002459;
  --color-blue: #28abff;
  --color-white: #ffffff;
  --color-accent: #f2af5c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*Navigation bar*/

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-self: center;
}

.nav-bar a {
  font-size: 0.833rem;
}

.main-logo {
  height: 35px;
  width: auto;
}

.ctaBtn {
  background-color: var(--color-blue);
  font-size: 0.833rem;
  padding: 0.6em 1.6em;
  border-radius: 18px;
}

/*Center grid*/
.grid-outer {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0;
  padding: 1rem;
  gap: 20px;
}

.text-container {
  /* background-color: palevioletred; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.grid-picture {
  max-width: 100%;
  height: auto;
}

.heading {
  font-size: 4.209rem;
  font-weight: 300;
  color: var(--color-white);
}

.accent {
  color: var(--color-blue);
}

.text-small {
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 0.04rem;
}

/*Footer*/
.Ft {
  padding: 0.5em 0;
  border-top: 1px solid lightslategrey;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}

footer a {
  font-size: 0.833rem;
  color: lightslategrey;
}

footer svg {
  color: var(--color-white);
  padding: 0 0.2rem;
  visibility: hidden;
}
